.quiz--questions {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #293264;
}

.answer--container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px 0;
}

.horizontal-rule {
  border-bottom: 1px solid #DBDEF0;
  margin-bottom: 15px;
}
